<h1>Users</h1>
<br>

<div class="panel panel-default"> 

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Boat Count</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= link_to user.fname, user_path(user.id) %></td>
                <td><%= user.boats.count %></td>
            </tr>
            <% end  %>
        </tbody>
    </table>
</div>