<div class="row">
    <div class="col-md-8">
        <img class="img-responsive img-rounded" src="http://www.hamburgsud-line.com/hsdg/media/hamburgsd/header_2/big/final_vessel_with_container_daylight_b_keyvisual980.jpg" alt="">
    </div>

    <div class="col-md-4">
        <h1>OceanicRails</h1>
        <p>Founded in 1347 we have been sending cargo all around the world. We facilitate the communication between shippers(those who want things sent some where) and carriers(those who carry cargo).</p>
        <a class="btn btn-primary btn-lg" href="#">Learn more!</a>
    </div>
</div>

<hr>

<!-- Call to Action Well -->
<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
        We are the ship, the shippers, and the seaguls that fly overhead.
        </div>
    </div>
<!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shipping Statistics</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>

    <div class="col-md-4">
        <h2>Pirates Attack</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>

    <div class="col-md-4">
    <h2>Unknown Wave Effects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
        <a class="btn btn-default" href="#">More Info</a>
    </div>
</div>